__pycache__/
*.py[cod]
*$py.class
.ipynb_checkpoints/
.pytest_cache/
venv/
.venv/
env/
ENV/
.git/
.github/
mobility-analytics-repo/
*.db
*.sqlite
*.sqlite3
data/*.db
data/*.sqlite
data/*.sqlite3
*.zip
*.gz
*.tar.gz
model.zip
compressed_data.csv.gz
